@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;600;800&display=swap");

:root {
  /* Color related variables */
  --background-color: var(--dark-grayish);
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
  --gray: hsl(219, 19%, 56%);

  /* Responsive related variables */
  --responsive-mobile: 375px;
  --responsive-desktop: 1440px;

  /* Font related variables */
  --font-thin: 200;
  --font-regular: 600;
  --font-bold: 800;
  /* Responsive Size */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.65rem;
}

* {
  margin: 0;
  padding: 0;
  color: var(--light-cyan);
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  background-color: var(--dark-blue);
  height: 100vh;
  display: grid;
  place-content: center;
}

.advice__container {
  background-color: var(--dark-grayish);
  color: var(--light-cyan);
  border-radius: 10px;
  width: 18rem;
  padding: 25px 25px 0px 25px;
  text-align: center;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.advice__id {
  font-size: var(--smaller-font-size);
  color: var(--neon-green);
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.advice__phrase {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  color: var(--light-cyan);
  margin-top: 15px;
  margin-bottom: 15px;
  filter: blur(4px);
  animation: scale 0.8s forwards cubic-bezier(0.5, 1, 0.89, 1);
  transition: all 0.3s ease-in-out;
}
@keyframes scale {
  100% {
    
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

.advice__line p {
  font-size: 50px;
  font-weight: var(--font-thin);
}

.line-1 {
  height: 0.2px;
  opacity: 0.2;
  background: var(--light-cyan);
}

.button__centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.random__advice__button {
  width: 50px;
  height: 50px;
  border: 0px;
  margin: 0px;
  border-radius: 50%;
  background-color: var(--neon-green);
  cursor: pointer;
  transform: translate(0px, 50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.random__advice__button hover {
  background-color: var(--light-cyan);
  box-shadow: 11px 11px 11px 11px hsl(150, 100%, 66%);
}

.random__advice__button__icon {
  width: 15px;
  height: 15px;
}
