@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* VARIABLES */

:root {
  --main-background-color: hsl(217, 54%, 11%);
  --card-background-color: hsl(216, 50%, 16%);
  --cardLine-background-color: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
  --cyan: hsl(178, 100%, 50%);
  --gray: hsl(219, 19%, 56%);

  /* Responsive related variables */
  --responsive-mobile: 375px;
  --responsive-desktop: 1440px;

  /* Font related variables */
  --font-thin: 200;
  --font-regular: 600;
  --font-bold: 800;
  /* Responsive Size */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.65rem;
}

hr {
  border: 12px;
  height: 0.1px;
  background-color: var(--gray);
  opacity: 0.5;
  margin-top: 12px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--gray);
  font-weight: 600;
  text-decoration: none;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--main-background-color);
}

ul li {
  margin-left: 20px;
}

.component__wrapper {
  height: 100vh;
  display: grid;
  place-content: center;
}

.project__tittle {
  text-align: center;
  font-weight: 400;
  font-size: var(--h3-font-size);
  color: var(--gray);
  margin-bottom: 6px;
}

.item__card {
  width: 200px;
  margin: 0 auto;
  background-color: var(--card-background-color);
  padding:  0px 15px 15px 15px;
  border-radius: 12px;
  align-self: start;
}

.item__card__header {
  color: var(--white);
  font-weight: 400;
  font-size: 16px;
  margin-top: 12px;
}

.item__card__description {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
  color: var(--gray);
}

.item__card__description img {
  margin-right: 6px;
  margin-left: 8px;
  width: 2px;
}

/* Auction Details */

.item__card__auction__details {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 11px;
  font-weight: 400;
  color: var(--gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__card__timeleft {
  align-items: center;
  display: flex;
}

.item__card__value {
  color: var(--cyan);
  align-items: center;
  display: flex;
}

.item__card__auction__details .crypto__type {
  width: 7px;
  margin-right: 5px;
  align-items: center;
}

.item__card__auction__details .icon__type {
  width: 12px;
  margin-right: 5px;
  align-items: center;
}

.attribution {
  font-size: 8px;
  text-align: center;
  margin-top: 6px;
  color: var(--gray);
}

.attribution a {
  color: var(--gray);
  font-weight: 600;
  text-decoration: none;
}

.contact-links {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.contact-links a {
  margin: 5px;
  display: flex;
  align-items: center;
}

.contact-links i {
  margin-right: 2px;
  display: flex;
  justify-content: center;
}

.contact-details {
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(-1px);
}

/*
- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 300, 400, 600
*/
