@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --color-primary: 255 115 179;

    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --color-primary: 198deg 93% 60%;

    /* For rgba(255, 115, 179, <alpha-value>) */
    --color-primary: 255, 115, 179;
  }
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--main-background-color);
}

* {
  margin: 0;
  padding: 0;
}

.component__wrapper {
  height: 100vh;
  display: grid;
  place-content: center;
}

.project__tittle {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
  margin-top: 12px;
  margin-bottom: 6px;
}

.attribution {
  font-size: 8px;
  text-align: center;
  margin-top: 6px;
  color: var(--gray);
}

.attribution a {
  color: var(--gray);
  font-weight: 600;
  text-decoration: none;
}

